{% extends 'navbar.html' %}

{% block content %}
<div style="margin: 2.5%; overflow-y: scroll; height: 60vh;">
    <div class="home-container02 d-flex justify-content-center">
        <table class="table table-bordered table-dark table-striped">
            <thead class="">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Quantidade de Bases</th>
                    <th scope="col">Espaco Total</th>
                    <th scope="col">Nome da Maior Base</th>
                    <th scope="col">Tamanho da Maior Base</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, userstatslen)%}
                <tr>
                    <th style="text-align: center" >{{userstats[i][2]}}</th>
                    <td style="text-align: center" >{{userstats[i][0]}}</td>
                    <td style="text-align: center" >{{userstats[i][1]}}</td>
                    <td style="text-align: center" >{{userstats[i][3]}}</td>
                    <td style="text-align: center" >{{userstats[i][4]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}